<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UiTVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6D260F1DF0A87F000785B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6D26231DF0A87F000785B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6D262E1DF0A87F000785B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
