<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Practice手勢.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D936A631E03C32A00EA2582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D936A771E03C32B00EA2582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D936A821E03C32B00EA2582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
