<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project2-練習.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D782BC41E0642A30054F035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D782BD81E0642A30054F035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D782BE31E0642A30054F035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
